<div class="custom-background">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">
        <i class="fas fa-home"></i> Home <span class="sr-only">(current)</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link">
        <button mat-raised-button (click)="GotoRelatorios() ">Coordenadas <mat-icon>assignment</mat-icon> </button>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fas fa-envelope"></i> Messages
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" aria-disabled="true">
        <i class="fas fa-cog"></i> Settings
      </a>
    </li>
  </ul>
</div>
  