<div class="custom-background">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link">
        <button mat-raised-button (click)="GotoRelatorios()">Coordenadas <mat-icon>assignment</mat-icon> </button>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link">
        <button mat-raised-button (click)="openPopup()"><mat-icon>add</mat-icon>Criar Coleção</button>
      </a>
    </li>
  </ul>
</div>

<!-- Popup -->
<div id="popup" class="popup">
  <div class="popup-content">
    <div class="popup-header">
      <h2>Criar Nova Coleção</h2>
      <span (click)="closePopup()" class="close">&times;</span>
    </div>
    <div class="popup-body">
      <input type="text" id="collectionName" placeholder="Nome da Coleção" [(ngModel)]="collectionName">
    </div>
    <div class="popup-footer">
      <button (click)="createCollection()">Criar</button>
    </div>
  </div>
</div>

<!-- Collections -->
<div id="collectionsContainer">
  <div *ngFor="let collection of collections" class="collection-box">
    <div class="collection-info">
      <mat-checkbox class="example-margin" 
                    [(ngModel)]="collection.checked"
                    (change)="selectCollection($event, collection.id)">
      </mat-checkbox>
      {{ collection.name }}
      <div class="button-group">
        <button mat-icon-button (click)="editCollectionName(collection)">
          <mat-icon>create</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteCollection(collection)">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
