<div #map id="map">
    <button (click)="DeleteMarks()">Omitir Marks</button>
    <button (click)="GetLandMarks()">Expor Marks</button>
    <button mat-button [matMenuTriggerFor]="belowMenu">Alternar Mapa</button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
        <button mat-menu-item (click)="SateliteMap()">Satelite / Normal</button>
        <button mat-menu-item >Acidentes Transito</button>
    </mat-menu>
    <button (click)="ListByCollection()">Expor Mediante Coleção</button>
    
    <select [(ngModel)]="selectedCollectionId">
        <option value="colecoes" selected>Coleções</option>
        <option *ngFor="let collection of collections" [value]="collection.id">{{ collection.name }}</option>
    </select>
</div>
