<div #map id="map">
    <button (click)="DeleteMarks()">Omitir Marks</button>
    <button (click)="GetLandMarks()">Expor Marks</button>
    <button mat-button [matMenuTriggerFor]="belowMenu">Alternar Mapa</button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
        <button mat-menu-item (click)="SateliteMap()">Satelite / Normal</button>
        <button mat-menu-item >Acidentes Transito</button>
    </mat-menu>
    <button (click)="ListByCollection()">Expor Mediante Coleção</button>
</div>

<div id="custom-popup" class="custom-popup">
    <input type="text" id="marker-name-input" placeholder="Insira um nome para o marcador">
    <button id="popup-confirm-button">Confirmar</button>
  </div>
  <div id="popup-overlay" class="popup-overlay"></div>
  







